/.venv
/breakfast_bot.py
/breakfast_bot_after_refactoring.py
/breakfast_bot_before_rafactoring.py
/breakfast_bot_v1.py
/breakfast_bot_v2.py
/elevator.py
/elevator_notes.rtf
/elevator_refactor.py
/elevator_v1.py
/guess_color.py
/ipnd-reference-sheet-breakfast-bot-code.pdf
/ipnd-reference-sheet-elevator-code.pdf
/order_breakfast.py
/repeat.py
/room_simulator.py
/spin.py
/test.py